.cont {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    /* padding: 10px; add padding here */
    margin: 4px;
    /* border: none; added to remove border */
}

.brand-img {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none; /* added to remove border */
    top: 0;
    left: 0;
    object-fit: cover;
}



.text-cont {
    margin: 0;
    width: 30px;
    height: 30px;
    /* visibility: hidden; */
    text-align: left;
    padding: 15px 35px 20px;
    display: block;
    position: absolute;
    width: 100%;
    top: -70px; /* width of text cont plus 2*bottom padding */
    transition: all .6s;
    border: solid;
    border: none; /* added to remove border */
    color: aliceblue;

    /* background-color: rgba(194, 112, 112, 0.8); */
    /* Transition effect for smooth animation */
}
.cont:hover .brand-img {
    transition: all 0.5s ease-in-out;
    transform: translateY(50px);
    opacity: 0.5;
}
.cont:hover .text-cont {
    visibility: visible;
    transform: translateY(50px);
    /* The final position of the hidden text when the cont is hovered over */
}


.cont:hover {
    background-color: #f92424;
}
